.top-section {
  background-color: #3367d6;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
}

.history-logo {
  height: 30%;
  margin-right: 70px;
}

.input-container {
  display: flex;
  width: 70%;
  margin-left: 140px;
}

.search-icon {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #2850a7;
  border: 1px solid #ffffff;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.search-input {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 500;
  background-color: #2850a7;
  border: 1px solid #ffffff;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  width: 80%;
  outline: none;
}

.bottom-section {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.histories-container {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 4px 16px 0px;
  border-radius: 12px;
  width: 70%;
}

.empty-bottom-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-message {
  color: #475569;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto';
}
